<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" href="/Qifan/public/static/image/forum/logo.png"/>
	{css href="/Qifan/public/static/css/forum/Index/index.css"/}
	{css href="/Qifan/public/static/css/forum/Index/public.css"/}
	{css href="/Qifan/public/static/css/forum/Index/reset.css"/}
	{css href="/Qifan/public/static/css/forum/Layui/layui.css" /}
	{css href="/Qifan/public/static/css/forum/Layui/font.css" /}
	{css href="/Qifan/public/static/css/forum/Layui/gobal.css" /}
	{js href="/Qifan/public/static/js/jquery.js"/}
	{js href="/Qifan/public/static/js/layer/layer.js"/}
