<style>
	.image{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-top:5px;
		margin-right: 35px;
	}
</style>
<!-- 头部导航 -->
<header class="ltHead">
	<div class="ltHead_cen">
		<ul class="headNav">
			<li><a href="{:url('Index/index')}">首页</a></li>
			{volist name="classify" id="vo"}
			<li><a href="{:url('Index/index')}?classify={$vo.id}">{$vo.title}</a></li>
			{/volist}
		</ul>
		<div class="ltForm appear">
			{if condition="$data.img != null"}
			<a href="{:url('Data/index')}">
				<!--<img src="http://localhost/Postbar/uploads/{$data.img}" class="image">-->
				<img src="{$data.img}" class="image">
			</a>
			{/if}
			<ul>
				{if condition="$data != null"}
				<li><a href="{:url('Data/index')}">{$data.username}</a></li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
				<li><a href="{:url('User/loginOut')}">注销</a></li>
				{else/}
				<li><a href="{:url('User/login')}">登陆</a></li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
				<li><a href="{:url('User/register')}">注销</a></li>
				{/if}
			</ul>
		</div>
	</div>
</header>