{include file="../application/forum/view/public.html" /}
{include file="../application/forum/view/fetch.html" /}
<title>{$title} - 创新论坛</title>
<script src="http://localhost/Postbar/public/static/js/data/data.js"></script>
</head>
<body>
{include file="../application/forum/view/templateIndex.html" /}
<div class="layui-container fly-marginTop fly-user-main">
	{include file="../application/forum/view/data.html" /}
	<div class="site-tree-mobile layui-hide">
		<i class="layui-icon"></i>
	</div>
	<div class="site-mobile-shade"></div>
	<div class="fly-panel fly-panel-user" pad20="" id="note">
		<div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_uc">
			<ul class="layui-tab-title" id="LAY_mine">
				<li v-for="tabBar in tabBars" :class="tabBar.active" v-on:click="setTab(tabBar.id)">
					<a>{{tabBar.title}}</a>
				</li>
			</ul>
			<div class="layui-tab-content" id="LAY_ucm" style="padding: 5px 0;">

				<div class="layui-tab-item layui-show" v-if="tabBars[0].active == 'layui-this'">
					<table class="layui-hide" id="LAY_mySendCard"></table>
					<div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-1" lay-id="LAY_mySendCard" style=" ">
						<div class="layui-table-box">
							<div class="layui-table-header">
								<table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="line">
									<thead>
									<tr>
										<th data-field="title" data-key="1-0-0" data-minwidth="300" class="">
											<div class="layui-table-cell laytable-cell-1-0-6">
												<span>帖子标题</span>
											</div></th>
										<th data-field="status" data-key="1-0-1" class="">
											<div class="layui-table-cell laytable-cell-1-0-6" align="center">
												<span>状态</span>
											</div></th>
										<th data-field="time" data-key="1-0-3" class="">
											<div class="layui-table-cell laytable-cell-1-0-4" align="center">
												<span>发表时间</span>
											</div></th>
										<th data-field="4" data-key="1-0-4" class=" layui-table-col-special">
											<div class="layui-table-cell laytable-cell-1-0-4">
												<span>数据</span>
											</div></th>
										<th data-field="5" data-key="1-0-5" class=" layui-table-col-special">
											<div class="layui-table-cell laytable-cell-1-0-4">
												<span>操作</span>
											</div></th>
									</tr>
									</thead>
								</table>
							</div>
							<div class="layui-table-body layui-table-main">
								<table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="line">
									<tbody>
									{volist name="note.note" id="vo"}
									<tr data-index="0" class="">
										<td data-field="title" data-key="1-0-0" data-content="{$vo.title}" data-minwidth="300" class="">
											<div class="layui-table-cell ">
												<a href="{:url('Note/note')}?id={$vo.id}" target="_blank" class="layui-table-link">{$vo.title}</a>
											</div></td>
										<td data-field="status" data-key="1-0-1" align="center" data-content="0" class="">
											<div class="layui-table-cell ">
                                                    <span style="color: #999;">
														{if condition="$vo.is_show eq 1"}上架
                                                        {else/}下架
                                                        {/if}</span>
											</div></td>
										<td data-field="time" data-key="1-0-3" align="center" data-content="1541990727246" class="">
											<div class="layui-table-cell ">
												{$vo.date}
											</div></td>
										<td data-field="4" data-key="1-0-4" data-content="" class="layui-table-col-special">
											<div class="layui-table-cell ">
												<span style="font-size: 12px;">{$vo.num}阅/{$vo.count}答</span>
											</div></td>
										<td data-field="5" data-key="1-0-5" data-content="" class="layui-table-col-special">
											<div class="layui-table-cell ">
												{if condition="$vo.is_show eq 1"}
												<a class="layui-btn layui-btn-xs layui-btn-danger" v-on:click="is_show({$vo.id},2)" target="_blank">
													下架
												</a>
												{/if}
												{if condition="$vo.is_show eq 2"}
												<a class="layui-btn layui-btn-xs success" v-on:click="is_show({$vo.id},1)" target="_blank">
													上架
												</a>
												{/if}
											</div></td>
									</tr>
									{/volist}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="layui-tab-item layui-show" v-if="tabBars[1].active == 'layui-this'">
					<table class="layui-hide" id="LAY_myCollectioncard"></table>
					<div class="layui-form layui-border-box layui-table-view" lay-filter="LAY-table-4" lay-id="LAY_myCollectioncard" style=" ">
						<div class="layui-table-box">
							<div class="layui-table-header">
								<table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="line">
									<thead>
									<tr>
										<th data-field="title" data-key="4-0-0" data-minwidth="300" class="">
											<div class="layui-table-cell" style="width: 350px">
												<span>帖子标题</span>
											</div></th>
										<th data-field="collection_timestamp" data-key="4-0-1" class="">
											<div class="layui-table-cell" style="width: 350px" align="center">
												<span>收藏时间</span>
											</div></th>
									</tr>
									</thead>
								</table>
							</div>
							<div class="layui-table-body layui-table-main">
								<table cellspacing="0" cellpadding="0" border="0" class="layui-table" lay-skin="line">
									<tbody>
									{volist name="note.coll" id="vo"}
									<tr data-index="0">
										<td data-field="title" data-key="4-0-1" data-minwidth="300" class="">
											<div class="layui-table-cell" style="width: 350px">
												<a href="{:url('Note/note')}?id={$vo.n_id}" target="_blank" class="layui-table-link">{$vo.title}</a>
											</div></td>
										<td data-field="collection_timestamp" data-key="4-0-0" align="center" class="">
											<div class="layui-table-cell" style="width: 350px">
												{:date('Y-m-d H:i:s',$vo.date)}
											</div></td>
									</tr>
									{/volist}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
</body>
</html>
<script src="http://localhost/Qifan/public/static/js/forum/Data/note.js"></script>