<html lang="en" contenteditable="true">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ls框架</title>
</head>
<body>
<script>
    let Lquery = function () {};
    Lquery.fn = Lquery.prototype = {
        version : '1',
        size:function () {
            return this.length;
        }
    };

    let test = new Lquery();
    console.log(Lquery().version);
    console.log(Lquery().size());
</script>
</body>
</html>