.header{
    width: 100%;
    height: 60px;
    background: #232323;
    display: flex;
}

.header label{
    margin-left: 200px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.tabBar{
    line-height: 60px;
    margin-left: 200px;
}

.tab{
    margin: 0 10px;
    color: #d8d8d8;
}

.active{
    color: #e0d66b;
}

iframe{
    margin: 10px 0;
}