<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>创新管理后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {css href="/tp5.1/public/static/admin/css/font.css"/}
    {css href="/tp5.1/public/static/admin/css/xadmin.css"/}
    {js href="/tp5.1/public/static/admin/js/jquery.min.js"/}
    {js href="/tp5.1/public/static/admin/lib/layui/layui.js"/}
    {js href="/tp5.1/public/static/admin/js/xadmin.js"/}
    {js href="/tp5.1/public/static/admin/js/vue.min.js"/}
    {js href="/tp5.1/public/static/admin/js/utils/fetch.js"/}
    {js href="/tp5.1/public/static/admin/js/utils/handle.js"/}
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->