{include file="../application/forum/view/public.html"/}
{include file="../application/forum/view/fetch.html"/}
</head>
<body>
{include file="../application/forum/view/template.html"/}
<div class="layui-hide-xs">
</div>
<div class="layui-container">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md8 content detail">
			<div class="fly-panel detail-box"><h1>如何监听js动态生成的checkbox选中事件</h1>
				<div class="fly-detail-info"><span
						class="layui-badge layui-bg-green fly-detail-column">            提问          </span> <span
						class="layui-badge" style="background-color: #999;">未结</span> <span class="fly-list-nums">                        <a
						href="#comment"><i class="iconfont" title="回答">&#xe60c;</i> 1</a>                        <i
						class="iconfont" title="人气">&#xe60b;</i> 23          </span></div>
				<div class="detail-about"><a class="fly-avatar" href="/u/42224448/"> <img
						src="//res.layui.com/images/fly/avatar/2.jpg" alt="yyf2003_1"> </a>
					<div class="fly-detail-user"><a href="/u/42224448/" class="fly-link"> <cite>yyf2003_1</cite> </a>
						<span>2小时前</span></div>
					<div class="detail-hits"><span style="padding-right: 10px; color: #FF7200">悬赏：20飞吻</span></div>
				</div>
				<div class="layui-btn-container fly-detail-admin" id="LAY_jieAdmin" data-id="54509">
					<button class="layui-btn layui-btn-sm jie-admin jie-admin-collect" type="collect" data-type="add">
						收藏
					</button>
				</div>
				<div class="detail-body layui-text photos">
					<table class="layui-table">
						<tbody>
						<tr>
							<td>版本：layui</td>
							<td>浏览器：</td>
						</tr>
						</tbody>
					</table>
					js动态生成的checkbox，如何监听选中事件呢？<br>var html = &quot;&quot;;<br>for (var i = 0; i &lt;
					bcsSubjectJson.length; i++) {<br> html += &quot;&lt;input type=&#39;checkbox&#39; name=&#39;cbBCSSubject&#39;
					value=&#39;&quot; + bcsSubjectJson[i].SubjectId + &quot;&#39; lay-skin=&#39;primary&#39; title=&#39;&quot;
					+ bcsSubjectJson[i].SubjectName +&quot;&#39; lay- <br> lifter=&#39;cbBCSSubject&#39;/&gt;&quot;;<br>
					}<br>$(&quot;#BCSSubjectDiv&quot;).html(html);<br><br><br>在form.on(&#39;checkbox(cbBCSSubject)&#39;,function(data){})里面不起作用，请问有什么办法吗？
				</div>
			</div>
			<div class="fly-panel detail-box" id="flyReply">
				<fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
					<legend>回帖</legend>
				</fieldset>
				<ul class="jieda" id="jieda">
					<li data-id="188320"><a name="item-1561962278158"></a>
						<div class="detail-about detail-about-reply"><a class="fly-avatar" href="/u/26952240/"> <img
								src="//cdn.layui.com/avatar/26952240.jpg?t=1547272823243" alt="上瘾446"> </a>
							<div class="fly-detail-user"><a href="/u/26952240/" class="fly-link"> <cite>上瘾446</cite>
							</a></div>
							<div class="detail-hits"><span>32分钟前</span></div>
						</div>
						<div class="detail-body layui-text jieda-body photos"> 你可以在子类里面获取到值给某个参数，然后通过父层调用子层方法取到值</div>
						<div class="jieda-reply"><span class="jieda-zan " type="zan">              <i
								class="iconfont icon-zan"></i>              <em>0</em>            </span> <span
								type="reply">              <i class="iconfont icon-svgmoban53"></i>              回复            </span>
						</div>
					</li>
					<li data-id="188322"><a name="item-1561962803157"></a>
						<div class="detail-about detail-about-reply"><a class="fly-avatar" href="/u/9111144/"> <img
								src="//q.qlogo.cn/qqapp/101235792/8C652320D1AC2B19AB2CEFD6F95D6834/100" alt="飞翔的燕子">
						</a>
							<div class="fly-detail-user"><a href="/u/9111144/" class="fly-link"> <cite>飞翔的燕子</cite> </a>
							</div>
							<div class="detail-hits"><span>23分钟前</span></div>
						</div>
						<div class="detail-body layui-text jieda-body photos"> @<a href="javascript:;" class="fly-aite">上瘾446</a>
							可有具体案例？
						</div>
						<div class="jieda-reply"><span class="jieda-zan " type="zan">              <i
								class="iconfont icon-zan"></i>              <em>0</em>            </span> <span
								type="reply">              <i class="iconfont icon-svgmoban53"></i>              回复            </span>
						</div>
					</li>
					<li data-id="188324"><a name="item-1561963045176"></a>
						<div class="detail-about detail-about-reply"><a class="fly-avatar" href="/u/24287592/"> <img
								src="//cdn.layui.com/avatar/24287592.gif?t=1556521436711" alt="半桶水搬砖工"> </a>
							<div class="fly-detail-user"><a href="/u/24287592/" class="fly-link"> <cite>半桶水搬砖工</cite>
							</a></div>
							<div class="detail-hits"><span>19分钟前</span></div>
						</div>
						<div class="detail-body layui-text jieda-body photos"> var iframeWin = layero.find('iframe')[0];
							<br>var obj = iframeWin.contentWindow.func();<br>把这个写在你的回调里面，就是你按了确定或者关闭按钮的时候，然后在你的子页面里定义一个func方法，返回你需要的值，例如上面这个obj就是子页面返回的值
						</div>
						<div class="jieda-reply"><span class="jieda-zan " type="zan">              <i
								class="iconfont icon-zan"></i>              <em>0</em>            </span> <span
								type="reply">              <i class="iconfont icon-svgmoban53"></i>              回复            </span>
						</div>
					</li>
				</ul>
				<div style="text-align: center"></div>
				<a name="comment"> </a>
				<div class="layui-form layui-form-pane">
					<form action="/jie/reply/" method="post">
						<div class="layui-form-item layui-form-text">
							<div class="layui-input-block"><textarea id="L_content" name="content" required
																	 lay-verify="required" placeholder="请输入内容"
																	 class="layui-textarea fly-editor"
																	 style="height: 150px;"></textarea></div>
						</div>
						<div class="layui-form-item"><input type="hidden" name="jid" value="54509"> <input type="hidden"
																										   name="daPages"
																										   value="1">
							<button class="layui-btn" lay-filter="*" lay-submit>提交回复</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="layui-col-md4">
			<dl class="fly-panel fly-list-one">
				<dt class="fly-panel-title">本周热议</dt>
				<dd><a href="/jie/54300/">table 显示空白，不显示数据异常。</a> <span><i class="iconfont icon-pinglun1"></i> 28</span>
				</dd>
				<dd><a href="/jie/54319/">layui formSelects 怎么针对指定的option进行禁用 </a> <span><i
						class="iconfont icon-pinglun1"></i> 24</span></dd>
				<dd><a href="/jie/54342/">layui table复选框checkbox</a> <span><i
						class="iconfont icon-pinglun1"></i> 18</span></dd>
				<dd><a href="/jie/54392/">location.href跳转无效，该如何处理</a> <span><i
						class="iconfont icon-pinglun1"></i> 16</span></dd>
				<dd><a href="/jie/54335/">求救 !!! layui选中数据能否只选择一页不全部都选中,只想选择当前页数据。</a> <span><i
						class="iconfont icon-pinglun1"></i> 14</span></dd>
				<dd><a href="/jie/54202/">table内容出现纵向滚动条 table表头正好与内容错开一个纵向滚动条的宽度 对不上</a> <span><i
						class="iconfont icon-pinglun1"></i> 14</span></dd>
				<dd><a href="/jie/54288/">富文本编辑器上传图片显示问题</a> <span><i class="iconfont icon-pinglun1"></i> 13</span></dd>
				<dd><a href="/jie/54398/">提交表单，怎么获取表单中的图片</a> <span><i class="iconfont icon-pinglun1"></i> 13</span>
				</dd>
				<dd><a href="/jie/54271/">layui layer open 打开子页面，子页面的js和success 方法js执行顺序混乱</a> <span><i
						class="iconfont icon-pinglun1"></i> 12</span></dd>
				<dd><a href="/jie/54269/">新开的窗口，在form表单提交后如何刷新父页面的table表格？求大佬们指点</a> <span><i
						class="iconfont icon-pinglun1"></i> 12</span></dd>
			</dl>
			<div class="fly-panel">
				<div class="fly-panel-title"> 心级赞助商 <span style="padding: 0 3px;">-</span> <a href="/jie/15697/"
																							  class="fly-link fly-joinad    ">我要加入</a>
				</div>
				<div class="fly-panel-main"><a href="https://coding.net/?utm_source=layui" target="_blank"
											   rel="nofollow" class="fly-zanzhu fly-zanzhu-img"
											   time-limit="2020-04-15 0:0:0" style="background: none;"> <img
						src="//cdn.layui.com/upload/2019_5/168_1557540349142_16350.png" alt="CODING"> </a> <a
						href="https://m3w.cn/track/uniapp/flyui" target="_blank" rel="nofollow"
						class="fly-zanzhu fly-zanzhu-img" time-limit="2019-07-20 0:0:0" style="background: none;"> <img
						src="//cdn.layui.com/upload/2019_6/168_1560843280736_51554.png" alt="dcloud"> </a> <a
						href="https://www.renren.io/layui" target="_blank" rel="nofollow" class="fly-zanzhu"
						style="background-color: #4BAE4F;" time-limit="2019-09-08 0:0:0"> 人人开源 - 企业级后台脚手架框架 </a> <a
						href="https://www.apipost.cn/?fr=layui" target="_blank" rel="nofollow"
						class="fly-zanzhu fly-zanzhu-img" time-limit="2019-07-14 0:0:0" style="background: none;"> <img
						src="//cdn.layui.com/upload/2019_4/168_1556102263551_83262.png" alt="apipost"> </a> <a
						href="https://www.maoyuncloud.com/?from=layui" target="_blank" class="fly-zanzhu"
						time-limit="2019-09-01" style="background-color: #0063FF;">猫云 - 可信赖的融合云计算服务商</a> <a
						href="http://www.thisfx.com?from=layui" target="_blank" class="fly-zanzhu"
						time-limit="2019-07-14" style="background-color: #20222A;">FxAdmin - 企业管理系统快速开发套件</a> <a
						href="https://www.chanyoo.net/layui.html" target="_blank" class="fly-zanzhu"
						time-limit="2019-07-26" style="background-color: #1D1737;">10年短信服务商价格实惠接入方便</a> <a
						href="https://imgcook.taobao.org/?from=layui" target="_blank" class="fly-zanzhu fly-zanzhu-img"
						time-limit="2019-07-14" style="background: none;"> <img
						src="//cdn.layui.com/upload/2019_6/168_1561515392772_2750.jpg" alt="imgcook"> </a> <a
						href="http://www.yixiekeji.com/" target="_blank" class="fly-zanzhu fly-zanzhu-img"
						time-limit="2019-07-30" style="background: none;"> <img
						src="//cdn.layui.com/upload/2019_6/168_1561705136068_74941.jpg" alt="yixiekeji"> </a></div>
			</div>
			<div class="fly-panel">
				<div class="fly-panel-title"> 官方产品</div>
				<div class="fly-panel-main"><a href="http://www.layui.com/admin/?from=fly" target="_blank"
											   class="fly-zanzhu" time-limit="2017.09.25-2099.01.01"
											   style="background-color: #20222A; background-image: linear-gradient(to right,#20222A,#3E4251);">layuiAdmin
					- layui 官方后台管理模板</a> <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu"
											time-limit="2017.09.25-2099.01.01"
											style="background-color: #009688; background-image: linear-gradient(to right,#009688,#5FB878);">LayIM
					- layui 即时通讯旗舰之作</a></div>
			</div>
			<div class="fly-panel" style="padding: 20px 0; text-align: center;"><img
					src="//cdn.layui.com/upload/2017_8/168_1501894831075_19619.jpg" style="max-width: 100%;"
					alt="layui">
				<p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p></div>
		</div>
	</div>
</div>
<div class="fly-footer"><p><a href="http://fly.layui.com/">Fly 社区</a> 2019 &copy; <a href="http://www.layui.com/">layui.com</a>
</p>
	<p><a href="http://fly.layui.com/jie/3147/" target="_blank">付费计划</a> <a href="/extend/" target="_blank">组件平台</a> <a
			href="/store/" target="_blank">模板市场</a> <a href="/case/2019/" target="_blank">年度案例</a> <a
			href="http://fly.layui.com/jie/2461/" target="_blank">公众号</a></p>
	<div class="fly-union"><p style="display: block; margin-bottom: 10px;"><span>感谢以下服务商提供云加速赞助</span>
		<p><a href="https://console.upyun.com/register/?invite=SJ0wu6g2-" target="_blank" rel="nofollow" upyun> <img
				src="//res.layui.com/static/images/other/upyun.png?t=1"> </a> <a
				href="https://www.maoyuncloud.com/?from=layui" target="_blank" rel="nofollow" maoyun> <img
				src="//cdn.layui.com/upload/2019_5/168_1559291577683_9348.png" style="width: 80px;"> </a></div>
</div>
</body>
</html>